html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray; 
    /* Smoothly transition the background color */
    transition: background-color .5s; 
}

#div1, #div2, #div3,
#div4, #div5, #div6, 
#div7, #div8, #div9 {
    width: 33.3%; 
    height: 33.3%; 
    float: left;
}

#div1 { top:0; left:0; background: #DDD; }
#div2 { top:0; left:33.3%; background: #AAA; }
#div3 { top:0; left:66.6%; background: #777; }

#div4 { top:33.3%; left:0; background: #444; }
#div5 { top:33.3%; left:33.3%; background: #DDD; }
#div6 { top:33.3%; left:66.6%; background: #AAA; }

#div7 { top:66.6%; left:0; background: #777; }
#div8 { top:66.6%; left:33.3%; background: #444; }
#div9 { top:66.6%; left:66.6%; background: #DDD; }